
@font-face {
  font-family: 'AVANTGA';
  src: url("../fonts/ITC_Avant_Garde_Gothic_Demi.ttf");
  src: url("../fonts/ITC_Avant_Garde_Gothic_Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header-ribbon, .media-object>.media-title, .page-header, .section-courses .header-ribbon, .section-courses .media-object>.media-title, .section-events .header-ribbon, .section-events .media-object>.media-title, .section-jobs .header-ribbon, .section-jobs .media-object>.media-title, .section-premium .header-ribbon, .section-premium .media-object>.media-title, .section-resources .header-ribbon, .section-resources .media-object>.media-title, .section-salaries .header-ribbon, .section-salaries .media-object>.media-title, .section-theme .section-courses .header-ribbon, .section-theme .section-courses .media-object>.media-title, .section-theme .section-events .header-ribbon, .section-theme .section-events .media-object>.media-title, .section-theme .section-jobs .header-ribbon, .section-theme .section-jobs .media-object>.media-title, .section-theme .section-premium .header-ribbon, .section-theme .section-premium .media-object>.media-title, .section-theme .section-resources .header-ribbon, .section-theme .section-resources .media-object>.media-title, .section-theme .section-salaries .header-ribbon, .section-theme .section-salaries .media-object>.media-title {
  background-color: #1c2870;
  padding: 50px 0px;
}
.page-header {
    border-top: 0px solid #fff;
}
h3.s_headingjobs {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "AVANTGA";
    font-weight: 500;
    line-height: 1.1;
}
.s-input-lg-job {
    border-radius: 6px !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    background-color: #1c2870 !important;
}
.s-input-lg-job::placeholder{
  color: #ffffff !important;
}
.s-color-white .fa {
    color: #ffffff;
}
a.s-list-group-item {
    color: #1c2870 !important;
}
.s-panel-title, .s-panel-title a:hover {
    color: #25a8e0;
}

.media-object>.icon.icon-circle {
    border: 1px solid #28306c;
    border-radius: 50%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #25a8e0;
}
.flag-SE{
  background-image: url(../img/flags/selonger.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-SA{
  background-image: url(../img/flags/sarawak.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-PE{
  background-image: url(../img/flags/penang.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-ME{
  background-image: url(../img/flags/melaka.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-LA{
  background-image: url(../img/flags/labaun.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-KL{
  background-image: url(../img/flags/kualalampur.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.flag-JO{
  background-image: url(../img/flags/johar.png);
  background-size: 48px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.s_headingjobs_lg{
    font-size: 19px !important;
}
.s_bg-project {
    background-color: #28306c;
}
.s_bg-project-dark {
    background-color: #e8e9f0;
}
.s_text_color-project {
    color: #28306c !important;
}
.s_text_color_white{
  color: #fff;
}
.s_list {
  padding-left: 17px !important;
  list-style: none;
}
.s_list li:before {
  content: '✓';
  font-weight: bold;
  padding-right: 6px;
  font-size: 16px;
}
ul.s_list li {
    font-size: 14px;
    color: #666;
    font-weight: 500;
}

.s_border_second{
  position: relative;
  background: #f7f7f7;
  border: 0.5px solid #dddcdc;
  border-radius: 12px;
  padding: 45px 0px 25px 12px;
  margin-top: 34px;
}
.s-media-object{
  position: absolute;
  top: -42px;
  left: 40%;
  background: #f7f7f7;
  padding: 23px;
  border: 0.5px solid #dddcdc;
  border-radius: 50px;
}
h3.s_heading_bottom {
    font-size: 18px !important;
}
.s_font_20{
      font-size: 20px !important;
}
.s_par {
    font-size: 16px !important;
    padding-left: 10px;
    font-weight: 100 !important;
    color: #858585 ;
    font-family: "AVANTGA";
}
.s_par_color{
  color: #858585 !important;
}
.s_par_list>li:before {
    color: #858585 !important;
}
.s_par_list li {
    color: #858585 !important;
    font-size: 16px;
    font-weight: 100 !important;
    font-family: "AVANTGA";
}

.s_par_lists>li:before {
    color: #858585 !important;
}
.s_par_lists li {
    color: #858585 !important;
    font-size: 16px;
    font-weight: 500;
}
